name: nougat-base
device:
  allow_tf32: true
model:
  type: VisionEncoderDecoderModel
  pretrained_model_name_or_path: facebook/nougat-base
  max_length: 1200
  image_size: [768, 1024]  # height, width
  quantization_type: ''
  model_path: /content/drive/MyDrive/NEW_merged_withsplit/combined_weights_printedandhandwritten_continue/nougat-base_epoch40_step42000_lr3.554448e-06_avg_loss0.00186_token_acc0.93980_final_edit_dist0.01021_bleu0.90401.pth
  mixed_precision: "fp16" # "["no", "fp16", "bf16]
  processor_args:
    img_processor_args:
      do_crop_margin: false
trainer:
  start_global_step: -1
  resume_flag: false
  use_ema: false
  ema_include: []
  # gradient configuration
  grad_accumulate: 2 # gradient accumulation
  random_seed: ~
  grad_clip: 2.0
  optimizer:
    optimizer_type: "adamw"
    lr: 3e-7 
    # layer_decay: 0.75
    weight_decay: 0.02
    beta1: 0.9
    beta2: 0.98
    eps: 1.0e-6
  scheduler:
    scheduler_type: "cosine"
    warmup_epochs: 0
    warmup_steps: 200
  epochs: 22
  # tensorboard configuration
  save_dir: /content/drive/MyDrive/NEW_merged_withsplit/combined_weights_printedandhandwritten_continue2
  tensorboard_dir: /home/nougat/workspace/nougat_latex/tensorboard
  # display configuration
  save_epoch_freq: 5
  save_step_freq: 2000
  print_freq: 20
datasets:
  train:
    dataset:
      type: NougatDataset
      data_root:
        - /content/drive/MyDrive/NEW_merged_withsplit/train/Images
      equations: /content/drive/MyDrive/NEW_merged_withsplit/train/Latex.txt
    num_workers: 10
    batch_size: 8
    shuffle: true
    collate_fn:
      type: NougatPadFixSizeCollectFn
      debug: false
  eval:
    dataset:
      data_root:
      - /content/drive/MyDrive/NEW_merged_withsplit/valid/Images
      equations: /content/drive/MyDrive/NEW_merged_withsplit/valid/Latex.txt
    shuffle: false