name: nougat-base
device:
  allow_tf32: true
model:
  type: VisionEncoderDecoderModel
  pretrained_model_name_or_path: facebook/nougat-base
  max_length: 1200
  image_size: [768, 1024]  # height, width
  quantization_type: ''
  model_path: /content/drive/MyDrive/OriginalNougat/weights_combinedhandwrittenandprinted_continued/nougat-base_epoch48_step38000_lr1.943734e-06_avg_loss0.01685_token_acc0.81433_edit_dis0.03843.pth
  mixed_precision: "fp16" # "["no", "fp16", "bf16]
  processor_args:
    img_processor_args:
      do_crop_margin: false
trainer:
  start_global_step: -1
  resume_flag: false
  use_ema: false
  ema_include: []
  # gradient configuration
  grad_accumulate: 1 # gradient accumulation
  random_seed: ~
  grad_clip: 3.0
  optimizer:
    optimizer_type: "adamw"
    lr: 2.0e-05
    # layer_decay: 0.75
    weight_decay: 0.05
    beta1: 0.9
    beta2: 0.98
    eps: 1.0e-6
  scheduler:
    scheduler_type: "cosine"
    warmup_epochs: 500
    warmup_steps: 500
  epochs: 80
  # tensorboard configuration
  save_dir: /content/drive/MyDrive/OriginalNougat/weights_combinedhandwrittenandprinted_continued2
  tensorboard_dir: /home/nougat/workspace/nougat_latex/tensorboard
  # display configuration
  save_epoch_freq: 10
  save_step_freq: 1000
  print_freq: 20
datasets:
  train:
    dataset:
      type: NougatDataset
      data_root:
        - /content/drive/MyDrive/NEW_merged_withsplit/train/Images
      equations: /content/drive/MyDrive/NEW_merged_withsplit/train/Latex.txt
    num_workers: 10
    batch_size: 8
    shuffle: true
    collate_fn:
      type: NougatPadFixSizeCollectFn
      debug: false
  eval:
    dataset:
      data_root:
      - /content/drive/MyDrive/NEW_merged_withsplit/valid/Images
      equations: /content/drive/MyDrive/NEW_merged_withsplit/valid/Latex.txt
    shuffle: false